<!-- views/partials/footer.ejs -->

<div class="text-center text-muted">
    <a id="github-link" href="https://github.com/Kekeli/floriculture" target="_blank">Code</a> by
      <a href="http://kaddidle.com/" id="dbl" target="_blank">Peanut Productions</a> &#169; 2014
</div> 
