<p>The floriculture greenhouses feature flowering and ornamental plants.  The poinsettias are a favorite of visitors, as are the wide variety of succulents.</p>
<p>For more information about the floriculture greenhouses, please contact N at ...</p>
<p>This site enables users to view and update a database of plants found in the floriculture greenhouses.</p>