<form action="/uploads" method="post" enctype="multipart/form-data">
	<label for="plantImage">Select an image to upload: </label>
		<input class="input" type="file" name="plantImage" accept="image/*"/>
	<button type="submit" class="btn btn-warning btn-lg">Signup</button>
</form>